:root {
    --bs-body-bg-rgb: 33, 37, 41;
    --bd-accent-rgb: 255, 228, 132;
    --bs-primary-rgb: 13, 110, 253;
    --bd-accent-rgb: 255, 228, 132;
    --bd-violet-rgb: 113, 44, 249;
    --bd-pink-rgb: 214, 51, 132;

    --js-color-hex: #F7DF1E;
    --html5-color-hex:#E34F26;
    --css-color-hex: #1572B6;
    --react-js-color-hex: #61DAFB;
    --springboot-color-hex: #6DB33F;
    --docker-color-hex: #2496ED;
    --bootstrap-color-hex: #7952B3;
}

.container,
.container-xl {
    padding-inline: clamp(1rem, 4vw, 3rem)!important;
    /* max-width: 1180px; */
    max-width: 1280px!important;
}

.island {
    /*background: #ffffff;*/
    border-radius: 16px !important;
    /*box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);*/
    background-color: rgba(255, 255, 255, 0.05); /* Muy transparente */
    backdrop-filter: blur(15px); /* Aquí sucede la magia */
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}


.pointer:hover {cursor: pointer;}
.bg2-hover:hover{background-color: transparent!important;}
.bg1-hover:hover {background-color: rgba(255, 255, 255, 0.05)!important;}

.marker-bootstrap::before,
.marker-docker::before,
.marker-springboot::before,
.marker-css::before,
.marker-html5::before,
.marker-js::before,
.marker-reactjs::before {
    margin-right: 5px;
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    border-radius: 100%;
}

.marker-html5::before { background-color: var(--html5-color-hex); }
.marker-css::before { background-color: var(--css-color-hex); }
.marker-springboot::before { background-color: var(--springboot-color-hex);}
.marker-js::before { background-color: var(--js-color-hex); }
.marker-docker::before { background-color: var(--docker-color-hex); }
.marker-reactjs::before { background-color: var(--docker-color-hex); }
.marker-bootstrap::before {background-color: var(--bootstrap-color-hex);}

.bd-masthead {
    --bd-pink-rgb: 214, 51, 132;
    padding: 3rem 0;
    background-image: linear-gradient(180deg,
    rgba(var(--bs-body-bg-rgb), .01),
    rgba(var(--bs-body-bg-rgb), 1) 85%),
    radial-gradient(
            ellipse at top left,
            rgba(var(--bs-primary-rgb), .5),
            #290a41d9 50% 50%),
    radial-gradient(
            ellipse at top right,
            rgba(var(--bd-accent-rgb), .5),
            transparent 50%),
    radial-gradient(
            ellipse at center right,
            rgba(var(--bd-violet-rgb), .5),
            transparent 50%),
    radial-gradient(
            ellipse at center left,
            rgba(var(--bd-pink-rgb), .5),
            transparent 50%);
}


.modal-content{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    filter: invert(1);
}

.carousel-control-next,
.carousel-control-prev {
    width: 5%;
}


.w-xs-100 {width: 100%!important;}

@media (max-width: 1399.98px) { /* xl */ }
@media (max-width: 1199.98px) { /* lg */ }
@media (max-width: 991.98px)  { /* md */  }
@media (max-width: 767.98px)  { /* sm */  }
@media (max-width: 575.98px)  { /* xs */
    .w-xs-100{ width: auto!important; }
}
